.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: #232323;
  position: relative;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 500px;
}

.deleteContainer {
  background-color: #232323;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 2em 3.5em;
  span {
    margin-top: 1em;
  }

  span:last-child {
    text-align: right;
  }
}
